<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" @opened="opened" :close-on-click-modal="false" append-to-body >
        <form autocomplete="off" @submit.prevent="submit" >
            <div class="form-body" style="width: 100%;">

                <div class="row"> 
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.conductor}">
                            <label class="control-label"><b>9.PLACA CARRETA</b> <span class="text-danger">*</span></label>
                           
                            <small class="form-control-feedback" v-if="errors.conductor" v-text="errors.conductor[0]"></small>
                        </div>
                       
                        
                        
                    </div> 
                    <div class="col-md-2">
                       
                        <div class="form-group" :class="{'has-danger': errors.placa}">
                           
                            <el-input v-model="form.placa" dusk="placa"></el-input>
                            <small class="form-control-feedback" v-if="errors.placa" v-text="errors.placa[0]"></small>
                        </div> 
                        
                    </div> 
                    <div class="col-md-2">
                       
                        <div class="form-group" :class="{'has-danger': errors.responsable}">
                            <label class="control-label">Responsable <span class="text-danger">*</span></label>
                          
                            <small class="form-control-feedback" v-if="errors.responsable" v-text="errors.responsable[0]"></small>
                        </div> 
                        
                        
                    </div> 
                   
                        <div class="col-md-2">
                        
                        <div class="form-group" :class="{'has-danger': errors.responsable}">
                           
                            <el-input v-model="form.responsable" dusk="responsable"></el-input>
                            <small class="form-control-feedback" v-if="errors.responsable" v-text="errors.responsable[0]"></small>
                        </div> 
                        
                    </div>
                     <div class="col-md-1">
                        <div class="form-group" :class="{'has-danger': errors.fecha}">
                            <label class="control-label">Fecha <span class="text-danger">*</span></label>
                           
                            <small class="form-control-feedback" v-if="errors.fecha" v-text="errors.fecha[0]"></small>
                        </div>
                        
                        
                        
                    </div>  
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.fecha}">
                           
                            <el-input type="date" v-model="form.fecha" dusk="fecha"></el-input>
                            <small class="form-control-feedback" v-if="errors.fecha" v-text="errors.fecha[0]"></small>
                        </div>
                        
                        
                    </div> 
                     
                        
                    </div> 
                    
                </div>
                <hr>
                <div class="row">
                     <div class="col-md-6">
                       <label><b>10. DOCUMENTACION CARRETA</b></label>

                          <br>
                             <br>
                        <label for="one">Tarjeta de Propiedad</label><br>
                        <input type="radio" id="uno" value="1" v-model="form.tarjetap"/>
                        <label for="uno">SI</label>
                         <input type="radio" id="tres" value="2" v-model="form.tarjetap"/>
                        <label for="tres">NO</label>
                        <br>
                      
                        <label for="two">Tarjeta de Circulacion</label><br>
                        <input type="radio" id="uno" value="1" v-model="form.tarjetac"/>
                        <label for="uno">SI</label>
                         <input type="radio" id="cuatro" value="2" v-model="form.tarjetac"/>
                        <label for="cuatro">NO</label>
                        <br>
                      
                        <label for="two">SOAT</label><br>
                          <input type="radio" id="9" value="1" v-model="form.soat"/>
                        <label for="9">SI</label>
                        <input type="radio" id="10" value="2" v-model="form.soat"/>
                        <label for="10">NO</label>
                        <br>
                      
                        <label for="two">Revision Tecnica</label><br>
                        <input type="radio" id="11" value="1" v-model="form.revisiont"/>
                        <label for="11">SI</label>
                        <input type="radio" id="12" value="2" v-model="form.revisiont"/>
                        <label for="12">NO</label>
                        <br>
                      
                        <label for="two">Bonificacion</label><br>
                         <input type="radio" id="13" value="1" v-model="form.bonificacion"/>
                        <label for="13">SI</label>
                        <input type="radio" id="14" value="2" v-model="form.bonificacion"/>
                        <label for="14">NO</label>
                     </div>
            
                     <div class="col-md-6">
                       <label><b>11. ARTICULOS EN TRACTO</b></label>
                       <br>
                             <br>
                        <label for="one">Alarma Retroceso</label><br>
                         <input type="radio" id="5" value="1" v-model="form.alarma"/>
                        <label for="5">SI</label>
                          <input type="radio" id="7" value="2" v-model="form.alarma"/>
                        <label for="7">NO</label>
                        <br>                      
                        <label for="two">Conos</label><br>
                        <input type="radio" id="6" value="1" v-model="form.conos"/>
                        <label for="6">SI</label>
                         <input type="radio" id="8" value="2" v-model="form.conos"/>
                        <label for="8">NO</label>
                        <br>                      
                        <label for="two">Tacos</label><br>
                          <input type="radio" id="17" value="1" v-model="form.tacos"/>
                        <label for="17">SI</label>
                          <input type="radio" id="18" value="2" v-model="form.tacos"/>
                        <label for="18">NO</label>
                        <br>                      
                        <label for="two">Toldera</label><br>
                         <input type="radio" id="19" value="1" v-model="form.toldera"/>
                        <label for="19">SI</label>
                         <input type="radio" id="20" value="2" v-model="form.toldera"/>
                        <label for="20">NO</label>
                        <br>                      
                        <label for="two">Plastico</label><br>
                        <input type="radio" id="21" value="1" v-model="form.plastico"/>
                        <label for="21">SI</label>
                          <input type="radio" id="22" value="2" v-model="form.plastico"/>
                        <label for="22">NO</label>
                        <br>                      
                        <label for="two">Soga</label><br>
                        <input type="radio" id="23" value="1" v-model="form.soga"/>
                        <label for="23">SI</label>
                        <input type="radio" id="24" value="2" v-model="form.soga"/>
                        <label for="24">NO</label>
                        <br>                      
                        <label for="two">Malla</label><br>
                        <input type="radio" id="61" value="1" v-model="form.malla"/>
                        <label for="61">SI</label>
                        <input type="radio" id="72" value="2" v-model="form.malla"/>
                        <label for="72">NO</label>
                        <br>                      
                        <label for="two">Neumaticos de Repuesto</label><br>
                        <input type="radio" id="62" value="1" v-model="form.neumatico"/>
                        <label for="62">SI</label>
                        <input type="radio" id="73" value="2" v-model="form.neumatico"/>
                        <label for="73">NO</label> <br>
                        <br>                      
                        <label for="two">Palos Cortos</label><br>
                         <input type="radio" id="63" value="1" v-model="form.palosc"/>
                        <label for="63">SI</label>
                        <input type="radio" id="74" value="2" v-model="form.palosc"/>
                        <label for="74">NO</label>
                        <br>                      
                        <label for="two">Palos Altos</label><br>
                        <input type="radio" id="64" value="1" v-model="form.palosa"/>
                        <label for="64">SI</label>
                         <input type="radio" id="75" value="2" v-model="form.palosa"/>
                        <label for="75">NO</label>
                        <br>                      
                        <label for="two">Latas</label><br>
                        <input type="radio" id="65" value="1" v-model="form.latas"/>
                        <label for="65">SI</label>
                         <input type="radio" id="76" value="2" v-model="form.latas"/>
                        <label for="76">NO</label>
                        <br>                      
                        <label for="two">Extintor Tracto</label><br>
                               <input type="radio" id="67" value="1" v-model="form.extintort"/>
                        <label for="67">SI</label>
                            <input type="radio" id="77" value="2" v-model="form.extintort"/>
                        <label for="77">NO</label>
                        <br>                      
                        <label for="two">Extintor Carreta</label><br>
                         <input type="radio" id="68" value="1" v-model="form.extintorc"/>
                        <label for="68">SI</label>
                        <input type="radio" id="78" value="2" v-model="form.extintorc"/>
                        <label for="78">NO</label>
                        <br>                      
                        <label for="two">Fajas</label><br>
                         <input type="radio" id="69" value="1" v-model="form.fajas"/>
                        <label for="69">SI</label>
                         <input type="radio" id="79" value="2" v-model="form.fajas"/>
                        <label for="79">NO</label>
                        <br>                      
                        <label for="two">Ratchet</label><br>
                        <input type="radio" id="70" value="1" v-model="form.ratchet"/>
                        <label for="70">SI</label>
                         <input type="radio" id="80" value="2" v-model="form.ratchet"/>
                        <label for="80">NO</label>
                        <br>                      
                        <label for="two">Gancho</label><br>
                        <input type="radio" id="71" value="1" v-model="form.gancho"/>
                        <label for="71">SI</label>
                         <input type="radio" id="81" value="2" v-model="form.gancho"/>
                        <label for="81">NO</label>
                     </div>
                     
                </div>
                <hr>
                <div class="row"> 
                    <div class="col-md-6">
                        <label><b>12. EQUIPO.....................</b></label>
                        <br>
                        <br>
                        <label for="one">Porta llanta</label><br>
                        <input type="radio" id="25" value="1" v-model="form.portallanta"/>
                        <label for="25">SI</label>
                        <input type="radio" id="32" value="2" v-model="form.portallanta"/>
                        <label for="32">NO</label>
                        <br>
                      
                        <label for="two">Porta palos</label><br>
                         <input type="radio" id="26" value="1" v-model="form.portapalos"/>
                        <label for="26">SI</label>
                          <input type="radio" id="33" value="2" v-model="form.portapalos"/>
                        <label for="33">NO</label>
                        <br>
                      
                        <label for="two">Luces lado derecho</label><br>
                        <input type="radio" id="27" value="1" v-model="form.lucesd"/>
                        <label for="27">SI</label>
                          <input type="radio" id="34" value="2" v-model="form.lucesd"/>
                        <label for="34">NO</label>
                        <br>
                      
                        <label for="two">Luces lado izquierdo</label><br>
                              <input type="radio" id="28" value="1" v-model="form.lucesi"/>
                        <label for="28">SI</label>
                         <input type="radio" id="35" value="2" v-model="form.lucesi"/>
                        <label for="35">NO</label>
                        <br>
                       <label for="two">Luces posteriores</label><br>
                        <input type="radio" id="29" value="1" v-model="form.lucesp"/>
                        <label for="29">SI</label>
                        <input type="radio" id="40" value="2" v-model="form.lucesp"/>
                        <label for="40">NO</label>
                        
                        <br>
                        <label for="two">Luces Intermitentes</label><br>
                        <input type="radio" id="30" value="1" v-model="form.lucesint"/>
                        <label for="30">SI</label>
                          <input type="radio" id="36" value="2" v-model="form.lucesint"/>
                        <label for="36">NO</label>
                        <br>
                      
                        <label for="two">Luces retroceso</label><br>
                          <input type="radio" id="31" value="1" v-model="form.lucesre"/>
                        <label for="31">SI</label>
                          <input type="radio" id="37" value="2" v-model="form.lucesre"/>
                        <label for="37">NO</label>
                        <br>
                      
                        <label for="two">Luces de freno</label><br>
                         <input type="radio" id="39" value="1" v-model="form.lucesfre"/>
                        <label for="39">SI</label>
                           <input type="radio" id="38" value="2" v-model="form.lucesfre"/>
                        <label for="38">NO</label>
                        <br>                            
                        <label for="two">Neblineros</label><br>
                        <input type="radio" id="92" value="1" v-model="form.neblineros"/>
                        <label for="92">SI</label>
                         <input type="radio" id="91" value="2" v-model="form.neblineros"/>
                        <label for="91">NO</label>
                     </div>
                  
                     <div class="col-md-6">
                       <label><b>13. NEUMATICOS............</b></label>
                       <br><br>
                        <label for="one">Vigia en buene estado</label><br>
                         <input type="radio" id="42" value="1" v-model="form.vigia"/>
                        <label for="42">SI</label>
                        <input type="radio" id="44" value="2" v-model="form.vigia"/>
                        <label for="44">NO</label>
                        <br>
                      
                        <label for="two">Perdida de aire</label><br>
                        <input type="radio" id="43" value="1" v-model="form.aire"/>
                        <label for="43">SI</label>
                        <input type="radio" id="45" value="2" v-model="form.aire"/>
                        <label for="45">NO</label>
                      
                       
                     </div>
                      
                       
                      
                </div>
                <hr>
                <div class="row">
                    
                  
                      <div class="col-md-2">     
                          <label ><b>NEUMATICOS</b></label>
                            <label >BUENO     B</label>
                            <br>
                            <label >REGULAR   R</label>
                            <br>
                            <label >MALO      M</label>
                             <br>
                        
                     
                      </div>
                    <div class="col-md-4">
                        <table>
                                <tr>
                                    <td><el-input v-model="form.llanta1"  ></el-input></td>                                    
                                    <td><el-input v-model="form.llanta5" ></el-input></td>
                                      <td><el-input v-model="form.llanta9"  ></el-input></td>
                                     
                                </tr> 
                                <tr>
                                     <td><el-input v-model="form.llanta2" ></el-input></td>
                                      <td><el-input v-model="form.llanta6" ></el-input></td>       
                                       <td><el-input v-model="form.llanta10" ></el-input></td>
                                      
                                </tr>
                                <tr>
                                     <td><el-input v-model="form.llanta3" ></el-input></td>
                                      <td><el-input v-model="form.llanta7" ></el-input></td>       
                                       <td><el-input v-model="form.llanta11" ></el-input></td>
                                                                     
                                </tr>
                                <tr>
                                     <td><el-input v-model="form.llanta4" ></el-input></td>
                                      <td><el-input v-model="form.llanta8" ></el-input></td>       
                                       <td><el-input v-model="form.llanta12" ></el-input></td>
                                                                     
                                </tr>
                        </table>
                      </div>
                       <div class="col-md-2">     
                    
                        <div class="form-group" :class="{'has-danger': errors.llanta13}">
                           <span style="background-color: rgb(0, 13, 255);
    color: white;
    padding: 7px;
    border-radius: 12px;"> REPUESTO 01</span>
                           <el-input v-model="form.llanta13" dusk="llanta13"></el-input>
                            <small class="form-control-feedback" v-if="errors.llanta13" v-text="errors.llanta13[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.llanta14}">
                           <span style="background-color: rgb(0, 13, 255);
    color: white;
    padding: 7px;
    border-radius: 12px;"> REPUESTO 02</span>
                            <el-input v-model="form.llanta14" dusk="llanta14"></el-input>
                            <small class="form-control-feedback" v-if="errors.llanta14" v-text="errors.llanta14[0]"></small>
                        </div> 
                        
                     
                      </div>
                </div>
                <hr>
                <div class="row"> 
                         <div class="col-md-11">
                        <div class="form-group" :class="{'has-danger': errors.observaciones}">
                            <label class="control-label">Observaciones del Tracto </label>
                            <el-input type="textarea" v-model="form.observaciones" ></el-input>
                            <small class="form-control-feedback" v-if="errors.observaciones" v-text="errors.observaciones[0]"></small>
                        </div>
                        </div>
                </div>
                <hr>
                 <div class="row"> 
                     <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen1 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc1" ></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload`"
                                        :show-file-list="false"
                                        :on-success="onSuccess">
                                    <img v-if="form.image_url" :src="form.image_url" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                            <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen2 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc2" ></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload1`"
                                        :show-file-list="false"
                                        :on-success="onSuccess1">
                                    <img v-if="form.image_url1" :src="form.image_url1" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen3 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc3"></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload2`"
                                        :show-file-list="false"
                                        :on-success="onSuccess2">
                                    <img v-if="form.image_url2" :src="form.image_url2" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen4 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc4"></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload3`"
                                        :show-file-list="false"
                                        :on-success="onSuccess3">
                                    <img v-if="form.image_url3" :src="form.image_url3" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                     
                </div>
             
                
                
                
                
            </div>
            <div class="form-actions text-right mt-4">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>

    import {serviceNumber} from '@mixins/functions'
import table from '../../../../../../../resources/js/views/tenant/pos/partials/table.vue'

    export default {
  components: { table },
        mixins: [serviceNumber],
        props: ['showDialog', 'recordId', 'external'],
        data() {
            return {
                loading_submit: false,
                titleDialog: null,
                resource: 'carretatractos',
                headers: headers_token,
                errors: {},
                form: {},
                api_service_token: false,
                identity_document_types: [],
                tarjetap:null,
                   tarjetac:null,
                   soat:null,
                revisiont:null,
                bonificacion:null,
              
                alarma:null,
                conos:null,
                tacos:null,
                toldera:null,
                plastico:null,
                soga:null,
                malla:null,
                neumatico:null,
                palosc:null,
                palosa:null,
                latas:null,
                extintort:null,
                extintorc:null,
                fajas:null,
                ratchet:null,
                gancho:null,
                portallanta:null,
                portapalos:null,
                lucesd:null,
                lucesi:null,
                lucesp:null,
                lucesint:null,
                lucesre:null,
                lucesfre:null,
                 neblineros:null,
                vigia:null,
                aire:null,
            }
        },
        async created() {
            await this.initForm()
            await this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.api_service_token = response.data.api_service_token
                    this.identity_document_types = response.data.identity_document_types;
                })

        },
        computed: {
            maxLength: function () {
                if (this.form.identity_document_type_id === '6') {
                    return 11
                }
                if (this.form.identity_document_type_id === '1') {
                    return 8
                }
            }
        },
        methods: {
            keyUpLicense(e){
                if(this.form.license.length == 1 && e.keyCode !== 8 && this.form.number){
                    this.form.license = this.form.license.concat(this.form.number)
                }
            },
            initForm() {
                this.errors = {}

                this.form = {
                    id: null,
                    placa: '',                   
                    modelo: '',                    
                    descripcion: '',
                    color: '',
                       image: null,
                    image_url: null,
                    temp_path: null,
                       image1: null,
                    image_url1: null,
                    temp_path1: null,
                    image2: null,
                    image_url2: null,
                    temp_path2: null,
                     image3: null,
                    image_url3: null,
                    temp_path3: null,


                    tarjetap:null,
                   tarjetac:null,
                   soat:null,
                revisiont:null,
                bonificacion:null,
              
                alarma:null,
                conos:null,
                tacos:null,
                toldera:null,
                plastico:null,
                soga:null,
                malla:null,
                neumatico:null,
                palosc:null,
                palosa:null,
                latas:null,
                extintort:null,
                extintorc:null,
                fajas:null,
                ratchet:null,
                gancho:null,
                portallanta:null,
                portapalos:null,
                lucesd:null,
                lucesi:null,
                lucesp:null,
                lucesint:null,
                lucesre:null,
                lucesfre:null,
                 neblineros:null,
                vigia:null,
                aire:null,



                fecha: moment().format('YYYY-MM-DD'),
                 establishment_id:1,
                }
            },
             onSuccess(response, file, fileList) {
                if (response.success) {
                    this.form.image = response.data.filename
                    this.form.image_url = response.data.temp_image
                    this.form.temp_path = response.data.temp_path
                   
                } else {
                    this.$message.error(response.message)
                }
            },
             onSuccess1(response, file, fileList) {
                if (response.success) {
                   
                      this.form.image1 = response.data.filename1
                    this.form.image_url1 = response.data.temp_image1
                    this.form.temp_path1 = response.data.temp_path1
                } else {
                    this.$message.error(response.message)
                }
            },
            onSuccess2(response, file, fileList) {
                if (response.success) {
                   
                      this.form.image2 = response.data.filename2
                    this.form.image_url2 = response.data.temp_image2
                    this.form.temp_path2 = response.data.temp_path2
                } else {
                    this.$message.error(response.message)
                }
            },
                    onSuccess3(response, file, fileList) {
                if (response.success) {
                   
                      this.form.image3 = response.data.filename3
                    this.form.image_url3 = response.data.temp_image3
                    this.form.temp_path3 = response.data.temp_path3
                } else {
                    this.$message.error(response.message)
                }
            },
            
            async opened() {

            },
            create() {
                
                this.titleDialog = (this.recordId)? 'Editar Check List CARRETA':'Nuevo Check List CARRETA '

                if (this.recordId) {
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                            this.form = response.data.data
                        })
                }
            },
            submit() {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {

                            this.$message.success(response.data.message)

                            if (this.external) {
                                this.$eventHub.$emit('reloadDataDrivers', response.data.id)
                            } else {
                                this.$eventHub.$emit('reloadData')
                            }

                            this.close() 

                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
            changeIdentityDocType(){
                // (this.recordId == null) ? this.setDataDefaultCustomer() : null
            },
            setDataDefaultCustomer(){

                // if(this.form.identity_document_type_id == '0'){
                //     this.form.number = '99999999'
                //     this.form.name = "Clientes - Varios"
                // }else{
                //     this.form.number = ''
                //     this.form.name = null
                // }

            },
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
            searchCustomer() {
                this.searchServiceNumberByType()
            },
            searchNumber(data) {

                this.form.name = (this.form.identity_document_type_id === '1')?data.nombre_completo:data.nombre_o_razon_social;

            },
        }
    }
</script>
<style>
.el-dialog {
  
    width: 75% !important;
}

[type="radio"]:not(:checked) + label {
    padding-left: 24px;
    height: 22px !important;
    line-height: 22px;
    font-weight: normal;
    font-size: 16px;
}
[type="radio"]:checked + label {
    padding-left: 26px;
    height: 22px !important;
    line-height: 22px;
    font-weight: normal;
}
</style>